* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 25px;
    display: block;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.header p {
    text-align: center;
    margin: 0%;
    background-color: rgba(228, 136, 171, 0.774);
    color: white;
    font-size: 30px;
    padding: 8px;
    margin-bottom: 0;
    width: 100%;
}

.branch {
    display: flex;
    align-items: center;
    height: 150px;
}

.branch h1 {
    font-size: 80px;
}

.items ul {
    list-style: none;
    display: flex;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.items li {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

hr {
    border: 1px solid rgb(236, 236, 236);
}

.main {
    width: 100%;
}

.logo img {
    width: 100%;
    border: 3px solid plum;
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
}

.productos img {
    display: flex;
    justify-content: center;
    margin-left: 35px;
}

